:root {
    --main-color : #1a3a76;
    --second-color : rgb(236, 236, 236);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cairo",sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    background: repeating-linear-gradient(352deg, #1a3a76, transparent 1px);
}
.ajouterClube {
    width: 50%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border-top: 5px #16F9E7 solid;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    transition-duration: 0.3s;
}
.ajouterClube header {
    padding: 10px 10px 0;
    text-transform: capitalize;
    font-size: 1.5rem;
    position: relative;
}
.ajouterClube input[type="text"],.ajouterClube input[type="file"],.ajouterClube textarea {
    outline: none;
    border: 2px #ddd solid;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
    width: 90%;
    display: block;
}
.ajouterClube .submitYourField {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: #ececec;
}
.ajouterClube .submit {
    background: #1a3a76;
    text-transform: capitalize;
    text-align: center;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 15px;
    cursor: pointer;
}