nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background-color: #8A97BF;
    text-align: center;
  }
  @media (max-width: 992px) {
    nav{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #8A97BF;
      text-align: center;
      
    }
    .tab-content{
      margin-top: 80px;
    }
    .nav  {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        top: 0;
        background-color: rgba(0, 0, 0, 0.15);;
    }
    ul{
      display :flex ;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      padding: 3px;
      align-items: center;

  
  }
  li{
    display:flex;
    flex-direction: row;
    justify-content :center;
    align-items: center;
    height: 100%;
    align-items:center;
      margin-left: 10px;
      font-size: large;
  }
  .nav-item{

    display :flex ;
      flex-direction: row;
      align-items: center;
  }
  .home{
      margin-top: 80px;
      display: flex;
      flex-direction: column;
  }
  .nav .nav-tabs {
    width: 100%;
    border: none;
  }
  .logout{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    color :red!important;
    border :1px solid red !important;
    padding :1px;
    border-radius:5px;
    width: 100%;
    text-align: center;
}
.nav-link span{
  display: none;
}
.nav-tabs .nav-link :hover {
  transition: 1s;
  z-index: 2;
  border-color: #8A97BF;
}

.nav-tabs .nav-link.active {
  color: #ffff;
  background-color: #00000033;
  border: none;
  border-bottom: 5px rgb(0, 0, 0) solid;
}

.nav-tabs .nav-link:hover {
  transition: 200ms;
  border: none;
  border-bottom: 5px rgb(52, 170, 199) solid;
  z-index: 1;
  background-color:#727d9c;
}

}
.deadline{
  color: red;
}

  ul{
      display :flex ;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      padding: 3px;
  
  }
  li{
    display:flex;
    flex-direction: column;
    justify-content :center;
    align-items:center;
      margin-top: 10px;
      font-size: large;
  }
  .home{
      margin-left: 66px;
      display: flex;
      flex-direction: column;
  }
  li img{
    width : 60px;
    
  }
  .nav-link{
    color:white;
  text-decoration:none;
  font-size : small;
  }
  .home span{
    font-family: "Poppins 500","Noto Sans Regular","Helvetica Neue",Arial,sans-serif;
    font-weight:bold;
    padding:10px;
    margin-left : 0px;
    font-size: 18px;
    color: black;
    background-color:#D2D2D2;
  
  }
  .home div button {
    color :white;
  }
  
  .logout:hover{
    transition :500ms;
    background-color :red!important;
    color :#D2D2D2!important;
  }
  .card{
  margin : 10px;
  }
  @media (min-width: 992px) {
    .logout{
      margin-top: 33%;
      color :red!important;
      border :1px solid red !important;
      padding :3px;
      border-radius:5px;
      width: 100%;
      text-align: center;
  }
  .nav-tabs 
 {
    width: 80px;
    border: none;
  }
  .nav-item{

    width: 80PX;
  }
  .nav-link{
    width: 80PX;
  }
  .nav-tabs .nav-link :hover {
    transition: 1s;
    z-index: 2;
    border-color: #8A97BF;
  }
  
  .nav-tabs .nav-link.active {
    color: #ffff;
    background-color: #00000033;
    border: none;
    border-right: 5px rgb(0, 0, 0) solid;
  }

  .nav-tabs .nav-link:hover {
    transition: 200ms;
    border: none;
    border-right: 5px rgb(52, 170, 199) solid;
    z-index: 1;
    background-color:#727d9c;
  }
  .tab-content{
    margin-left: 80px;
  }

}
  
