:root {
    --main-color : #1a3a76;
    --second-color : rgb(236, 236, 236);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cairo",sans-serif;
}
/* start header */
nav .container .navbar-nav .nav-item a {
    color: black;
}
nav .container .navbar-nav .nav-item {
    padding: 5px 16px;
    font-size: 18px;
    transition-duration: 0.5s;
    position: relative;
}
nav .container .navbar-nav .nav-item:hover {
    color: #1a3a76;
    background-color: rgb(26 58 117 / 15%);
}
nav .container .navbar-nav .nav-item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #1a3a76;
    transition-duration: 0.5s;
}
nav .container .navbar-nav .nav-item:hover:before {
    width: 100%;
}
@media (min-width: 992px) {
    .collapse {
        max-width: fit-content;
    }
    nav .container .navbar-nav .nav-item {
        padding: 25px;
        min-height: 72px;
    }
}
@media (max-width: 992px) {
    nav .container .navbar-nav .nav-item::before {
        height: 100%;
        top: 0;
        background-color: rgb(26 58 117 / 15%);;
    }
}
.navbar-toggler:focus {
    box-shadow: none !important;
}
/* end header */
/* strat main content */
.carousel-item img {
    width: 100%;
    height: calc(100vh - 93px);
}
.Actualités_and_Annonces {
    padding-top: 100px;
    padding-bottom: 100px;
}
.titles {
    max-width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    border: 2px black solid;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 80px;
    max-height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titles::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -50px;
    background: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translateY(-50%);
    transition-duration: 0.3s;
    z-index: -5;
}
.titles::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -50px;
    background: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translateY(-50%);
    transition-duration: 0.3s;
    z-index: -5;
}
.titles:hover {
    color: white;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
    border-color: transparent;
}
.titles:hover::before {
    left: 0;
    animation-name: title-transform;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}
.titles:hover::after {
    right: 0;
    animation-name: title-transform;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes title-transform {
    0% {
        width: 12px;
        height: 12px;
        border-radius: 0%px;
    }
    100% {
        width: 51%;
        height: 100%; 
        border-radius: 0px;
    }
}
.lesAnnounces {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    border-radius: 10px;
}
.announce {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 10px;
    transition-duration: 0.5s;
    overflow: hidden;
}
.announce:hover {
    transform: translateY(-5px);
}
.announce img {
    width: 100%;
    max-height: 250px;
}
.announce a {
    color: var(--main-color);
}
.announce i {
    margin-right: 10px;
}
.announce:hover i {
    animation: arrow-rgiht-animation 1s infinite;
    animation-fill-mode: forwards;
}
@keyframes arrow-rgiht-animation {
    form {
        margin-right: 10px;
    }
    to {
        margin-right: 0px;
    }
}
.announce .footer_of_announce {
    padding: 15px;
    border-top: 1px #efeff0 solid;
    color: var(--main-color) !important;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width : 520px) {
    .titles {
        font-size: 16px;
    }
}
/* end main content */
/* start footer */
footer {
    text-transform: capitalize;
    color: white;
}
footer .lesCoordonnees {
    background-image: url("../images/footer-bg-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.theFirstPart0fFooter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding: 50px 0;
}
.theFirstPart0fFooter .title {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 0;
    position: relative;
    margin-bottom: 15px;
}
.theFirstPart0fFooter .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 4px;
    background-color: #e13833;
    transform: translateY(-50%);
}
.theFirstPart0fFooter .aPropos > div > div {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}
.theFirstPart0fFooter .aPropos > div > div i {
    flex-basis: auto;
}
.theFirstPart0fFooter .aPropos > div > div div {
    flex-grow: 2;
}
.theFirstPart0fFooter .gallery .container-of-images {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(calc(100% / 3 - 20px),1fr));
    gap: 20px;
}
.theFirstPart0fFooter .gallery .container-of-images img {
    max-width: 100%;
}
.theSecondPartOfFooter {
    background-color: #001736;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
}
@media (max-width : 345px) {
    .theFirstPart0fFooter .gallery .container-of-images {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .theFirstPart0fFooter .gallery .container-of-images img {
        max-width: calc(95vw - (var(--bs-gutter-x)));
    }
    .titles::before {
        left: -30px;
    }
    .titles {
        font-size: 12px;
    }
    .titles::after {
        right: -30px;
    }
}
/* end footer */