* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cairo",sans-serif;
}
/* start header */
nav .container .navbar-nav .nav-item a {
    color: black;
}
nav .container .navbar-nav .nav-item {
    padding: 5px 16px;
    font-size: 18px;
    transition-duration: 0.5s;
    position: relative;
}
nav .container .navbar-nav .nav-item:hover {
    color: #1a3a76;
    background-color: rgb(26 58 117 / 15%);
}
nav .container .navbar-nav .nav-item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #1a3a76;
    transition-duration: 0.5s;
}
nav .container .navbar-nav .nav-item:hover:before {
    width: 100%;
}
@media (min-width: 992px) {
    .collapse {
        max-width: fit-content;
    }
    nav .container .navbar-nav .nav-item {
        padding: 25px;
        min-height: 72px;
    }
}
@media (max-width: 992px) {
    nav .container .navbar-nav .nav-item::before {
        height: 100%;
        top: 0;
        background-color: rgb(26 58 117 / 15%);;
    }
}
/* end header */
/* strat main content */
.carousel-item img {
    width: 100%;
    height: calc(100vh - 93px);
}
/* end main content */